modules = ["web", "dotnet-7.0", "nodejs-20", "dotnet-8.0", "postgresql-16"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"
packages = ["mongodb"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Access && ASPNETCORE_ENVIRONMENT=Development dotnet run --urls http://0.0.0.0:5000"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "-c", "cd Web && dotnet run -c Release --no-build --urls http://0.0.0.0:5000"]
build = ["bash", "-c", "cd Web && dotnet build -c Release"]

[userenv]

[userenv.shared]
ConnectionStrings__DefaultConnection = "Server=172.212.106.107,1433;Database=frdb;User Id=access;Password=hbG3F4UpsJ#r/Zm;MultipleActiveResultSets=true;TrustServerCertificate=True;"
ConnectionStrings__EStockConnection = "Server=172.212.106.107,1433;Database=estock;User Id=access;Password=hbG3F4UpsJ#r/Zm;TrustServerCertificate=True;"
mongouri = "mongodb+srv://firstregistrars524_db_user:am7E9tjLJq1qibyU@cluster0.jvsi4gy.mongodb.net/frdb?retryWrites=true&w=majority&appName=Cluster0"
