<h2 style="color: #253745; font-size: 24px; font-weight: normal; margin: 0; margin-bottom: 30px;">
    Dear shareholder,
</h2>

<p style="margin: 0px 0px 30px; line-height: 22px;">
    <span class="colour" style="color:rgb(37, 55, 69)">
        <span class="size" style="font-size: 17px; margin: 0px 0px 30px; line-height: 28px;">
            Your account has been activated. Kindly login and subscribe using the link
            <a href="@Model.link" target="_blank">https://access.firstregistrarsnigeria.com/login</a>
        </span>
    </span>
</p>

<div>
    <a style="border: none; border-radius: 4px; color: #fff; cursor: pointer; display: inline-block; font-size: 16px; padding: 15px 30px; background-color: #12406e; text-decoration: none; margin: 0 0 30px;" href="@Model.link" target="_blank">Login and Subscribe</a>
</div>

<p style="margin: 0px; line-height: 22px;">
    <span class="colour" style="color:rgb(37, 55, 69)">
        <span class="size" style="font-size: 17px; margin: 0px; line-height: 28px;">
            Thank you.
        </span>
    </span>
</p>
